.contact-name{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/image/bg1_01.jpg');
    background-repeat: no-repeat;
  background-attachment: fixed;
    background-size: 100%;
}
.contact-content{
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;

}
.contact-con1{
  width: 60vw;
  background-color: rgb(232, 223, 223);
  display: flex;
  justify-content: center;
  align-items: center;
}