*{
  margin: 0;
  padding: 0;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12vh;
  top: 0;
  
  background-color: #17bc9c;
  font-size: 24px;
  font-weight: 600;

  position: fixed;
  width: 100vw;
}


.navlist{
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.navlist a{
  
  
    color: black;
    background-color: transparent;
    text-decoration: none;
  
}

.navlist li{
list-style: none;
padding-right: 40px;
padding-left: 40px;
}
.burger{
  display: none;
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 15px;

}
.line{
  width: 33px;
  background-color: white;
  height: 4px;
  margin: 3px 3px;
}



@media only screen and (max-width: 800px) {
  .navbar{
      flex-direction: column;
      height: 70vh;

     
  }
   .navlist{
       flex-direction: column;
       margin: auto;
      
      
   }
   .navlist li{
       padding-top: 10px;
       padding-bottom: 10px;
   }
   

   .burger{
    display: block;
}
 .h-nav{
    height: 12vh;
}
 .v-class{
    opacity: 0;
  }
}