body{
    background-image: url('/image/bg1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
.service{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.service-content h1{
  
    text-align: center;

}
.service-content a{
     display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}