
.service-name{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/image/bg1_01.jpg');
    background-repeat:no-repeat;
  background-attachment: fixed;
    background-size: 100%;
}

.service-content{
  height: 100vh;

}

.service-content h1{
  
    text-align: center;

}
.service-content a{
     display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}